.rf-layout-wrapper {
  min-height: 100vh;
  background: #0b0b0b;
  color: white;
  display: flex;
  flex-direction: column;
}

/* SAME WIDTH SYSTEM */
.rf-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

/* HEADER */
.rf-main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #111;
  border-bottom: 1px solid #222;
  
}

.rf-header-inner {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rf-feed-logo {
  color: #621eff;
  font-size: 20px;
  font-weight: 700;
}

/* TABS */
.rf-feed-tabs {
  display: flex;
  background: #0f0f0f;
  border-radius: 8px;
  overflow: hidden;
}

.rf-tab-btn {
  flex: 1;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  color: #aaa;
  font-weight: 600;
  transition: .25s;
}

.rf-tab-btn:hover {
  color: white;
}

.rf-tab-btn.active {
  color: white;
  background: #1a1a1a;
  border-bottom: 2px solid #621eff;
}

/* CONTENT AREA */
.rf-layout-content {
  flex: 1;
  overflow: hidden;
  padding: 10px;
}

/* SAME WIDTH FOR ALL PAGES */
.rf-layout-content > * {
  max-width: 720px;
  margin: 0 auto;
}



/* logo + flag row */
.rf-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rf-header-icons {
  display: flex;
  gap: 14px;
  align-items: center;
}

.rf-header-icons i {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
}

.rf-header-icons i:hover {
  color: #621eff;
  transform: scale(1.1);
}
