.rf-video-feed {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.rf-video-card {
  background: #151515;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #222;
}

.rf-video-player {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  background: black;
}

.rf-video-info {
  padding: 14px 16px;
  display: flex;
  justify-content: space-between; /* pushes left & right */
  align-items: center;
  width: 100%;
}
.rf-post-left {
  display: flex;
  flex-direction: column;
}

.rf-post-category {
  white-space: nowrap;
  font-weight: 500;
}
.rf-category{
  border: #222 1px solid;
  padding: 5px 8px;
  border-radius: 10px;
}

.rf-video-info p {
  color: #bbb;
}

.rf-video-actions {
  display: flex;
  justify-content: flex-start;
  padding: 14px;
  border-top: 1px solid #222;
}

.rf-action-btn {
  background: transparent;
  border: none;
  color: #ddd;
  cursor: pointer;
}

.rf-action-btn:hover {
  color: #621eff;
}



/* =============second================== */

/* ACTION BAR */
.rf-video-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  border-top: 1px solid #222;
}

/* LEFT GROUP */
.rf-actions-left {
  display: flex;
  gap: 18px;
}

/* BUTTON STYLE */
.rf-action-btn {
  background: transparent;
  border: none;
  color: #dddddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  
}

.rf-action-btn i {
  font-size: 22px;
}

.rf-action-btn:hover {
  color: #ddd;
}

/* SAVE BUTTON RIGHT */
.rf-save-btn i {
  font-size: 22px;
}




/* =============comment============= */

.rf-comment-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
}

.rf-comment-box {
  width: 100%;
  max-width: 520px;
  height: 60vh;
  background: #111;
  border: #222 1px solid;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}

.rf-comment-header {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #222;
}

.rf-comment-list {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
}

.rf-comment-item {
  margin-bottom: 10px;
}

.rf-comment-item p {
  color: #ccc;
}

.rf-comment-input {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #222;
}

.rf-comment-input input {
  font-family: "Poppins", sans-serif;
  flex: 1;
  background: #1c1c1c;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.rf-comment-input button {
  background: #621eff;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
}



/* ==========close icon=========== */
.rf-close-icon {
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.rf-close-icon:hover {
  color: #621eff;
  transform: scale(1.1);
}


/* ==========close icon end=========== */

/* ==============comment icon====================== */

.rf-comment-send {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  transition: 0.2s;
}



/* ================commend icon end================== */