.rf-video-feed {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.rf-video-card {
  background: #151515;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #222;
}

.rf-video-player {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  background: black;
}

.rf-video-info {
  padding: 14px 16px;
  display: flex;
  justify-content: space-between; /* pushes left & right */
  align-items: center;
  width: 100%;
}
.rf-post-left {
  display: flex;
  flex-direction: column;
}

.rf-post-category {
  white-space: nowrap;
  font-weight: 500;
}
.rf-category{
  border: #222 1px solid;
  padding: 5px 8px;
  border-radius: 10px;
}

.rf-video-info p {
  color: #bbb;
}

.rf-video-actions {
  display: flex;
  justify-content: space-around;
  padding: 14px;
  border-top: 1px solid #222;
}

.rf-action-btn {
  background: transparent;
  border: none;
  color: #ddd;
  cursor: pointer;
}

.rf-action-btn:hover {
  color: #621eff;
}



/* =============second================== */

/* ACTION BAR */
.rf-video-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  border-top: 1px solid #222;
}

/* LEFT GROUP */
.rf-actions-left {
  display: flex;
  gap: 18px;
}

/* BUTTON STYLE */
.rf-action-btn {
  background: transparent;
  border: none;
  color: #dddddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  
}

.rf-action-btn i {
  font-size: 22px;
}

.rf-action-btn:hover {
  color: #ddd;
}

/* SAVE BUTTON RIGHT */
.rf-save-btn i {
  font-size: 22px;
}